Q)
1. 대지면적 0이면 Null처리해줘야 하는 것 아닌가?

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('실거래가.csv')

In [30]:
df.head()

,시군구,유형,지번,도로명,용도지역,건축물주용도,도로조건,전용/연면적(㎡),대지면적(㎡),거래금액(만원),층,계약년월,계약일,지분구분,건축년도,계약년월_adj
0,서울특별시 강남구 개포동,집합,6**,언주로,제3종일반주거,제2종근린생활,25m이상,58.73,,"70,000",NaN,201908,1,,1984.0,2019-08-01
1,서울특별시 강남구 개포동,일반,1***,논현로,제3종일반주거,제2종근린생활,25m이상,1119.43,347,"650,000",NaN,201908,9,,2006.0,2019-08-09
2,서울특별시 강남구 개포동,집합,1**,삼성로4길,제3종일반주거,제1종근린생활,25m이상,16.56,,"47,000",NaN,201908,14,,1983.0,2019-08-14
3,서울특별시 강남구 개포동,집합,1**,개포로,일반상업,판매,25m미만,22.82,,"13,910",NaN,201908,20,,1984.0,2019-08-20
4,서울특별시 강남구 개포동,집합,1**,개포로,일반상업,판매,25m미만,23.08,,"14,079",NaN,201908,20,,1984.0,2019-08-20

In [4]:
df.dtypes

시군구           object
유형            object
지번            object
도로명           object
용도지역          object
건축물주용도        object
도로조건          object
전용/연면적(㎡)    float64
대지면적(㎡)       object
거래금액(만원)      object
층            float64
계약년월           int64
계약일            int64
지분구분          object
건축년도         float64
dtype: object

In [122]:
for i in df.columns :
    X_i = df.loc[:,i].replace('-',np.nan) #도로조건은 -가 null 값
    if (X_i.dropna().shape[0]/df.shape[0])!=1 :
        print("column {} : {} not null ratio".format(i,X_i.dropna().shape[0]/df.shape[0]))
        print(df.loc[:,i].unique())
        print("")
        print()

df.isnull().sum()

column 도로명 : 0.9675808884451148 not null ratio
['언주로' '논현로' '삼성로4길' ... '중랑역로3나길' '동일로123길' '중랑천로14길']


column 도로조건 : 0.9724033906226763 not null ratio
['25m이상' '25m미만' '-' '12m미만' '8m미만']


column 층 : 0.4140341186717937 not null ratio
[nan  3.  5. 18.  1.  2. 14.  4. 24. 20.  6.  9. 10.  7. 30. 26. 31. 27.
 23. 12. 13. 17. 16. 15. 19. 11.  8. 40. 60. 80. 41. 21. 36. 35. 33. 34.
 25. 32. 22. 43. 29. 37. 28. 50. 90. 91. 70. 81. 61. 51. 71. 82. 54. 53.
 63. 52. 64. 45. 44. 47. 46. 42. 72. 62.]

시군구              0
유형               0
지번               0
도로명              0
용도지역             0
건축물주용도           0
도로조건             0
전용/연면적(㎡)        0
대지면적(㎡)          0
거래금액(만원)         0
층            27582
계약년월             0
계약일              0
지분구분             0
건축년도             0
계약년월_adj         0
건축년도_adj         0
dtype: int64

In [124]:
##형변환
#거래금액 to float64
df['거래금액_adj']=df['거래금액(만원)'].astype('float')
#계약년월 to datetime64
import datetime
import math
contract_yr = []
for i, j in np.array(df[['계약년월', '계약일']]):
    contract_yr.append(datetime.datetime(int(str(int(i))[:4]), int(str(int(i))[4:6]), j))
df['계약년월_adj'] = contract_yr


#건축년도 to datetime64
df.fillna({'건축년도':0}, inplace=True) ##null값 처리 ,datetime엔 not null 값이 들어가야함

construct_yr =[]
for i in np.array(df['건축년도']):
    if(i==0):
        construct_yr.append(datetime.datetime(1900,1,1)) # null 값 1900년 1월 1일로 설정
    else :
        construct_yr.append(datetime.datetime(int(str(int(i))[:4]),1,1))                      
df['건축년도_adj']=construct_yr
df.head()

ValueError: could not convert string to float: '70,000'

In [121]:
df.dtypes

시군구                  object
유형                   object
지번                   object
도로명                  object
용도지역                 object
건축물주용도               object
도로조건                 object
전용/연면적(㎡)           float64
대지면적(㎡)              object
거래금액(만원)             object
층                   float64
계약년월                  int64
계약일                   int64
지분구분                 object
건축년도                  int64
계약년월_adj     datetime64[ns]
건축년도_adj     datetime64[ns]
dtype: object